/* Set Up Update Message */

#update {
	display:none;
}

.update-textbox {
	position:absolute;
	display:block;
	width:80%;
	top:50%;
	left:10%;
	transform:translateY(-50%);
	text-align:center;
}

.ie-edge #update {
	display:block;
	height:100%;
	width:100%;
	position:fixed;
	z-index:2;
	background-color:#006064;
	color:#FAFAFA;
	font-family:"Montserrat", sans-serif;
}

.ie-edge #update .largerfont {
	font-size:calc(40px + 2vw);
	font-weight:bold;
}

.ie-edge #update .smallerfont {
	font-size:calc(20px + .5vw);
	line-height:calc(30px + .5vw);
}

a {
	text-decoration:underline;
	color:inherit;
}

/* Setting Up The Body, Parallax Container, Masthead, and Titles */

body {
	margin:0;
	overflow:hidden;
}

#parallax, #masthead {
	width:100%;
	top:0;
}

#parallax {
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
}

#masthead {
	height:calc(100% + 1px);
	z-index:1;
	background-image:url("sea.jpg");
	background-position:center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	background-size:cover;
}


#title {
	position:absolute;
	font-family:"Montserrat",sans-serif;
	color:#F5F5F5;
	z-index:2;
	width:94%;
	text-align:left;
	margin-top:20vh;
	margin-left:3%;
	margin-right:3%;
	-webkit-user-select:none;
}

#title > .wrapper > strong {
	background-color:#30638E;
	border-radius:1px;
	padding:7px;
	display:inline-block;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition:.6s;
	-webkit-transition:.6s
	-ms-transition:.6s;
}

#title > .wrapper:hover > strong {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#seamus {
	font-size:calc(49px + 2vw);
	line-height:calc(46px + 2vw);
	letter-spacing:5px;
	margin-bottom:20px;
}

.description {
	font-size:calc(12px + 1.5vw);
	line-height:calc(9px + 1.5vw);
	margin-bottom:6px;
}

/* Setting Up Fab */

#fab {
	height:calc(38px + 4.2vh);
	width:calc(38px + 4.2vh);
	background-color:#EDA93D;
	border-radius:150px;
	border-style:none;
	outline:none;
	transition-duration:.6s;
	-webkit-transition-duration:.6s;
	-ms-transition-duration:.6s;
	transition-property:box-shadow, -ms-transform, -webkit-transform, transform;
	-webkit-transition-property:box-shadow, -ms-transform, -webkit-transform, transform;
	-ms-transition-property:box-shadow, -ms-transform, -webkit-transform, transform;
	margin-left:calc(50% - 19px - 2.1vh);
	position:absolute;
	bottom: 20vh;
	box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	z-index:2;
}

#fab > img {
	height:calc(17px + 1.8vh);
	width:calc(17px + 1.8vh);
	position:absolute;
	top:50%;
	margin-top:calc(-8.5px - .9vh);
	left:50%;
	margin-left:calc(-8.5px - .9vh);
}

#fab:hover {
	transform-origin:center;
	box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-ms-transform:scale(1.2, 1.2);
	-webkit-transform:scale(1.2, 1.2);
	transform:scale(1.2, 1.2);
}

/* Setting Up The Page's Intoductory Content */

#content {
	position:absolute;
	z-index:2;
	top:100%;
}

#content, #first {
	left:0;
	right:0;
	width:100%;
	background-color:#043E5B;
}

#first {
	width:100%;
	box-shadow:0 0 6px 3px rgba(0,0,0,0.16), 0 0 6px 3px rgba(0,0,0,0.23);
}

#first > p {
	margin-bottom:-1px;
	margin-top:0;
	padding-bottom:41px;
	padding-top:40px;
}

#first > p > strong {
	font-size:40px;
	padding-right:.25em;
}

#first > p, .info-left > p, .info-right > p {
	color:#fff;
	font-size:20px;
	line-height:40px;
	font-family:"m_1mmedium",monospace;
	padding-left:calc(2vw + 20px);
	padding-right:calc(2vw + 20px);
}

/* Setting Up the Info Sections */

.info {
	background-color:#043E5B;
	overflow:hidden;
}

#works, #interests, .info-left, .info-right {
	width:50vw;
	height:60vh;
	transition:.6s;
	-webkit-transition:.6s;
	-ms-transition:.6s;
}

/* Setting Up the Work and Interests Sections and Their Animations */

#works, #interests {
	color:white;
	font-size:calc(32px + 2vw);
	line-height:calc(64px + 4vw);
	-webkit-user-select:none;
}

#works {
	background-color:#D1495B;
	font-family:"Josefin Slab",serif;
}

#interests {
	background-color:#077A8C;
	font-family:"Abril Fatface",cursive;
}

#works:hover , #interests:hover {
	width:100%;
}

#works:hover ~ .info-right, #interests:hover ~ .info-left {
	width:0;
}

#works > .container, #interests > .container {
	margin-top:calc(30vh - 2vw - 32px);
	width:100%;
	text-align:center;
	transition:.6s;
}

#works:hover > .container, #interests:hover > .container {
	margin-top:0;
}

/* Setting Up the Info Left and Info Right Sections and Their Animations */

.info-right, .info-left {
	overflow-y:auto;
	overflow-x:hidden;
}

.info-right > p, .info-left > p {
	width:calc(46vw - 40px);
}

/* Setting Up Fonts */

@font-face {
	font-family:"m_1mmedium";
	src: url("monospacem/mplus-1m-medium-webfont.eot");
	src: url("monospacem/mplus-1m-medium-webfont.eot?#iefix") format("embedded-opentype"),
		url("monospacem/mplus-1m-medium-webfont.woff") format("woff"),
		url("monospacem/mplus-1m-medium-webfont.ttf") format("truetype"),
		url("monospacem/mplus-1m-medium-webfont.svg#m_1mmedium") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Setting Up Info Sections For Browsers and Devices that Support Flexbox */

.flexbox .info, .flexboxlegacy .info, .flexboxtweener .info {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;  
}

.flexbox #interests, .flexboxlegacy #interests, .flexboxtweener #interests, .flexbox .info-left, .flexboxlegacy .info-left, .flexboxtweener .info-left {
	float:right;
}

.flexbox .info-left > p, .flexboxlegacy .info-left > p, .flexboxtweener .info-left > p {
	float:right;
}
	
.flexbox .left-to-right, .flexboxlegacy .left-to-right, .flexboxtweener .left-to-right {
	flex-direction:row;
	-ms-flex-direction:row;
	-webkit-flex-direction:row;
}
	
.flexbox .right-to-left, .flexboxlegacy .right-to-left, .flexboxtweener .right-to-left {
	flex-direction:row-reverse;
	-ms-flex-direction:row-reverse;
	-webkit-flex-direction:row-reverse;
}

/* Setting Up Info Sections For Browsers and Devices that Do Not Support Flexbox */

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .info {
	display:block;
}
	
.no-flexbox.no-flexboxlegacy.no-flexboxtweener #works, .no-flexbox.no-flexboxlegacy.no-flexboxtweener #interests, .no-flexbox.no-flexboxlegacy.no-flexboxtweener .info-left, .no-flexbox.no-flexboxlegacy.no-flexboxtweener .info-right {
	display:inline-block;
}

.info-left::-webkit-scrollbar, .info-right::-webkit-scrollbar {
	width:7px;
	background-color:#043E5B;
}

.info-left::-webkit-scrollbar-thumb, .info-right::-webkit-scrollbar-thumb {
	background-color:#FFF;
	-webkit-border-radius:120px;
	background-clip:padding-box;
	border:2px solid rgba(0, 0, 0, 0);
}

/* Setting Up Parallax Masthead For Desktop Browsers and Devices */

@media (min-width:801px) {
	@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
		.csstransforms3d #parallax {
			-webkit-perspective:1px;
			-ms-perspective:1px;
			perspective:1px;
			perspective-origin-x:100%;
		}
			
		.csstransforms3d #masthead {
			-webkit-transform:translateZ(-1px) scale(2.1);
			transform:translateZ(-1px) scale(2.1);
			-ms-transform:translateZ(-1px) scale(2.1);
			position:fixed;
			transform-origin-x:100%;
		}
			
		.csstransforms3d #container {
			transform:translateZ(0);
		}
			
		.no-csstransforms3d #masthead {
			position:absolute;
		}
	}
	
	#masthead {
		position:absolute;
	}
}

/* Setting Up Parallax Masthead For Mobile Browsers and Devices */

@media (max-width:800px) {
	#masthead {
		position:absolute;
	}
}
